body{
    background: linear-gradient(to right, antiquewhite, white);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: sans-serif;
}
#current_note{
    border-style: solid;
    border-color: black;
    font-size: large;
    width: 900px;
    height:600px;
}
button{
    background-color: white;
    border-color: black;
    border-style: solid;
    border-radius: 6px;
    font-size: large;
}