h1{
    margin-left: 10px;
}
body{
    background: linear-gradient(to right, antiquewhite, white);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: sans-serif;
}
button{
    margin: 5px;
    margin-left: 10px;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-radius: 6px;
    font-size: large;
}
#current_note,#notes_container{
    margin: 10px;
    border-style: solid;
    border-color: black;
    font-size: large;
    width: 60vw;
    height:60vh;
    resize: none;
    background-color: white;
}


.note-item{
    cursor: pointer;
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#back{
    margin: 5px;
    margin-left: 10px;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-radius: 6px;
    font-size: large;
    color: buttontext;
}

#Calculator {
    border-radius: 10px;
    width: 265px; /*265px normal version, 365px larger version*/
    background-color: gray; 
    padding: 10px;
    position: absolute;
    right: 10vw; /*10vw normal version, 5vw larger version*/
    top: 100px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
}

#screen {
    background-color: black;
    color: white;
    height: 50px; 
    width: 100%; 
    border: none;
    border-radius: 8px; 
    font-size: 20px; 
    text-align: right; 
    padding: 10px; 
    box-sizing: border-box;
}

.calcbutton {
    width: 50px; /*50px normal version, 70px larger version*/
    height: 50px;
    margin: 5px;
    background-color: #ff8c00; 
    border: none;
    border-radius: 5px; 
    font-size: 18px; 
    color: white;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
}

.calcbutton:hover {
    background-color: #ffa500; 
}

#calculatorButton {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px; 
}

#clear {
    background-color: #d11a2a; 
    grid-column: span 2; 
}

#equal {
    background-color: #007bff; 
    grid-column: span 2; 


.delete-button{
    position: relative;
    left: 10vw;
    margin-top: -2px;
}
}
/*mobile responsive*/
@media screen and (max-width: 768px) {
    #notes_container{
        width: 100%;
        margin: 0px;
    }

    .delete-button{
        position:relative;
        left: 75vw;
    }

    #Calculator {
        position: absolute;
        top: 650px;
        left: 0;
        background-color: gray;
    }

    body{
        height: 1600px;
    }

    #saved_notes{
        position:absolute;
        top: 610px;
        left:10px;
    }
}