h1{
    margin-left: 10px;
}
body{
    background: linear-gradient(to right, antiquewhite, white);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: sans-serif;
}
button{
    margin: 5px;
    margin-left: 10px;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-radius: 6px;
    font-size: large;
}
#current_note,#notes_container{
    margin: 10px;
    border-style: solid;
    border-color: black;
    font-size: large;
    width: 60vw;
    height:60vh;
    resize: none;
    background-color: white;
}


.note-item{
    cursor: pointer;
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#back{
    margin: 5px;
    margin-left: 10px;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-radius: 6px;
    font-size: large;
    color: buttontext;
}

#Calculator{
    border-style: solid;
    border-radius: 5px;
    width: 210px;
    height: 200px;
    background-color: gray;
    position: absolute;
    right: 10vw;
    top: 200px;
}

#screen{
    background-color: black;
    color: white;
    height: 30px;
    width: 206px;
    border-style: none;
}

.calcbutton{
    width: 40px;
    margin:1px;
    background-color:gold;
}

.delete-button{
    position: absolute;
    left: 600px;
    margin-top: -2px;
}

/*mobile responsive*/
@media screen and (max-width: 768px) {
    #Calculator {
        position: absolute;
        top: 650px;
        left: 0;
        background-color: gray;
    }

    body{
        height: 1600px;
    }

    #saved_notes{
        position:absolute;
        top: 610px;
        left:10px;
    }
}